### Data Sourcing
Obtain the data from 1 April 2007 to 30 September 2022 for the following: (say)
1. SPY (SPDR S & P 500 ETF)
2. XLE (Energy Sector SPDR)
3. VNQ (Real Estate)
4. XLF (Finance Sector SPDR)
5. MSCI (iShare) say EWP (Spain)

In [4]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [6]:
yahoo_financials = YahooFinancials('SPY')
data = yahoo_financials.get_historical_price_data(start_date='2007-04-01', 
                                                  end_date='2022-09-30', 
                                                  time_interval='weekly')
spy_df = pd.DataFrame(data['SPY']['prices'])
spy_df = spy_df.drop('date', axis=1).set_index('formatted_date')
spy_df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2007-04-02,144.440002,141.479996,142.160004,144.240005,272652200,105.917732
2007-04-09,145.320007,143.339996,144.649994,145.320007,413774500,106.710754
2007-04-16,148.619995,145.820007,145.830002,148.619995,506895800,109.133995
2007-04-23,149.800003,147.320007,148.369995,149.529999,497093300,109.802238
2007-04-30,151.119995,147.669998,149.639999,150.919998,505325300,110.822945

In [7]:
yahoo_financials = YahooFinancials('XLE')
data = yahoo_financials.get_historical_price_data(start_date='2007-04-01', 
                                                  end_date='2022-09-30', 
                                                  time_interval='weekly')
xle_df = pd.DataFrame(data['XLE']['prices'])
xle_df = xle_df.drop('date', axis=1).set_index('formatted_date')
xle_df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2007-04-02,61.820000,60.189999,60.259998,61.750000,62051800,38.735989
2007-04-09,63.169998,61.419998,61.639999,63.049999,91883900,39.551491
2007-04-16,63.740002,61.840000,63.189999,63.099998,78584600,39.582851
2007-04-23,64.589996,62.650002,63.119999,64.129997,103507900,40.228970
2007-04-30,65.739998,62.980000,64.139999,64.650002,98450500,40.555172

In [8]:
yahoo_financials = YahooFinancials('VNQ')
data = yahoo_financials.get_historical_price_data(start_date='2007-04-01', 
                                                  end_date='2022-09-30', 
                                                  time_interval='weekly')
vnq_df = pd.DataFrame(data['VNQ']['prices'])
vnq_df = vnq_df.drop('date', axis=1).set_index('formatted_date')
vnq_df.head()

                     high        low       open      close  volume   adjclose
formatted_date
2007-04-02      80.790001  78.900002  79.300003  80.070000  492900  41.198975
2007-04-09      80.860001  78.449997  80.099998  79.699997  472400  41.008579
2007-04-16      80.879997  79.370003  79.900002  80.400002  537300  41.368763
2007-04-23      81.750000  79.930000  80.400002  80.550003  523500  41.445957
2007-04-30      80.680000  77.790001  80.680000  78.699997  550900  40.494045

In [9]:
yahoo_financials = YahooFinancials('XLF')
data = yahoo_financials.get_historical_price_data(start_date='2007-04-01', 
                                                  end_date='2022-09-30', 
                                                  time_interval='weekly')
xlf_df = pd.DataFrame(data['XLF']['prices'])
xlf_df = xlf_df.drop('date', axis=1).set_index('formatted_date')
xlf_df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2007-04-02,29.138910,28.529652,28.919579,29.049553,52222837,21.089924
2007-04-09,29.179529,28.700245,29.122665,29.000813,64690036,21.054543
2007-04-16,30.251827,29.260763,29.260763,30.154346,125238124,21.891998
2007-04-23,30.406174,29.780666,30.154346,30.300570,67697614,21.998163
2007-04-30,30.666124,29.870024,30.292444,30.641754,67117937,22.245865

In [10]:
yahoo_financials = YahooFinancials('MSCI')
data = yahoo_financials.get_historical_price_data(start_date='2007-04-01', 
                                                  end_date='2022-09-30', 
                                                  time_interval='weekly')
msci_df = pd.DataFrame(data['MSCI']['prices'])
msci_df = msci_df.drop('date', axis=1).set_index('formatted_date')
msci_df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2007-11-12,28.450001,22.059999,23.000000,24.959999,13013400,22.793274
2007-11-19,29.209999,24.530001,24.709999,27.400000,1259900,25.021471
2007-11-26,29.490000,26.280001,27.990000,27.650000,1652300,25.249763
2007-12-03,32.680000,27.240000,27.700001,28.879999,858400,26.372993
2007-12-10,29.950001,27.930000,28.590000,28.719999,675000,26.226883

### Methodology
Macroeconomic indicators as follows for the same time period:
1. Fed Fund effective rates
2. Bank loan rates 
3. Unemployment rates
4. Any other macroeconomicÂ indicators

In [13]:
from fredapi import Fred
# FRED API key
fred_key = "0e42125b8d25e5d7a6b4f26132eb7b1e";
# Initiates a session with the FRED datacenter to recieve datasets
fred = Fred(api_key=fred_key);
# Retrieve data from FRED API

fed_effective_rates_df = pd.DataFrame(fred.get_series('FEDFUNDS'));

In [15]:
fed_effective_rates_df.head()

               0
1954-07-01  0.80
1954-08-01  1.22
1954-09-01  1.07
1954-10-01  0.85
1954-11-01  0.83

In [16]:
bank_loan_rates_df = pd.DataFrame(fred.get_series('DPRIME'));

In [17]:
bank_loan_rates_df.head()

               0
1955-08-04  3.25
1955-08-05  3.25
1955-08-08  3.25
1955-08-09  3.25
1955-08-10  3.25

In [18]:
unemployment_rates_df = pd.DataFrame(fred.get_series('UNRATE'));

In [19]:
unemployment_rates_df.head()

              0
1948-01-01  3.4
1948-02-01  3.8
1948-03-01  4.0
1948-04-01  3.9
1948-05-01  3.5